@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .text-gradient {
    @apply bg-gradient-to-b from-[#ffd859] via-[#ffd859] to-[#8ae99c];
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

:root {
  --header-height: 3.75rem;
}

body {
	@apply bg-c-black text-white;
}
